body {
  background-color: #d8ffd8;
  width: 100%;
}

*:not(i) {
  font-family: 'Acme' !important;
}


.profile-img {
  height: 50px;
  border-width:5px;
  border-style:groove;
}


.invisible {
  display: none !important;
}

form div {
  margin-top: 20px !important;
}

input.error {
  border: 1px solid #ff0000 !important;
  background-color: #ffcccc !important;
}

main {
  width: 95%;
  margin: 40px auto;
}

.center {
  text-align: center !important;
}

#editingArea .segment{
  min-height: 400px;
}

label input.ui.checkbox {
  margin-right: 10px !important;
}

